<?xml version="1.0"?>
<Configuration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Items>
    <Item name="basketball">
      <Modes>
        <Mode name="dribble">
          <KeywordGroups>
            <KeywordGroup>
              <Keywords>
                <Keyword>Dribble Number Test</Keyword>
              </Keywords>
              <OutputFile>dribble_num_data.csv</OutputFile>
            </KeywordGroup>
            <KeywordGroup>
              <Keywords>
                <Keyword>Game 1 Stats:</Keyword>
              </Keywords>
              <OutputFile>output1.csv</OutputFile>
            </KeywordGroup>
          </KeywordGroups>
        </Mode>
        <Mode name="shoot">
          <KeywordGroups>
            <KeywordGroup>
              <Keywords>
                <Keyword>keyword3</Keyword>
              </Keywords>
              <OutputFile>output2.h</OutputFile>
            </KeywordGroup>
          </KeywordGroups>
        </Mode>
      </Modes>
    </Item>
    <Item name="football">
      <Modes>
        <Mode name="blitz">
          <KeywordGroups>
            <KeywordGroup>
              <Keywords>
                <Keyword>keyword1</Keyword>
              </Keywords>
              <OutputFile>output1.h</OutputFile>
            </KeywordGroup>
            <KeywordGroup>
              <Keywords>
                <Keyword>keyword2</Keyword>
              </Keywords>
              <OutputFile>output1.csv</OutputFile>
            </KeywordGroup>
          </KeywordGroups>
        </Mode>
      </Modes>
    </Item>
  </Items>
  <Settings>
    <Theme>Light</Theme>
    <Font>Segoe UI</Font>
    <FontSize>12</FontSize>
  </Settings>
  <ComputerConfigs>
    <ComputerConfig name="DefaultPC">
      <SerialConsoleConfigs>
        <SerialConsoleConfig name="COM1_Default">
          <Title>Default Serial Logger</Title>
          <ColorScheme>Light Mode</ColorScheme>
          <FontSize>12</FontSize>
        </SerialConsoleConfig>
      </SerialConsoleConfigs>
    </ComputerConfig>
  </ComputerConfigs>
  <RecentActivity>
    <Activity ComputerName="DefaultPC">
      <FilesAnalyzed xsi:nil="true" />
      <FilesTransferred xsi:nil="true" />
      <DateTime>0001-01-01T00:00:00</DateTime>
    </Activity>
    <Activity ComputerName="COG">
      <Type>Serial Logger</Type>
      <SerialPort>COM6</SerialPort>
      <FilesAnalyzed xsi:nil="true" />
      <FilesTransferred xsi:nil="true" />
      <DateTime>2025-10-24T15:53:38.4603494-05:00</DateTime>
    </Activity>
    <Activity ComputerName="COG">
      <Type>Serial Analyzer</Type>
      <FilesAnalyzed>1</FilesAnalyzed>
      <FilesTransferred xsi:nil="true" />
      <DateTime>2025-10-24T15:54:05.2642049-05:00</DateTime>
    </Activity>
  </RecentActivity>
</Configuration>