<?xml version="1.0"?>
<Configuration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Items>
    <Item name="basketball">
      <Modes>
        <Mode name="dribble">
          <KeywordGroups>
            <KeywordGroup>
              <Keywords>
                <Keyword>Dribble Number Test</Keyword>
              </Keywords>
              <OutputFile>dribble_num_data.csv</OutputFile>
            </KeywordGroup>
            <KeywordGroup>
              <Keywords>
                <Keyword>Game 1 Stats:</Keyword>
              </Keywords>
              <OutputFile>output1.csv</OutputFile>
            </KeywordGroup>
          </KeywordGroups>
        </Mode>
        <Mode name="shoot">
          <KeywordGroups>
            <KeywordGroup>
              <Keywords>
                <Keyword>keyword3</Keyword>
              </Keywords>
              <OutputFile>output2.h</OutputFile>
            </KeywordGroup>
          </KeywordGroups>
        </Mode>
      </Modes>
    </Item>
    <Item name="football">
      <Modes>
        <Mode name="blitz">
          <KeywordGroups>
            <KeywordGroup>
              <Keywords>
                <Keyword>keyword1</Keyword>
              </Keywords>
              <OutputFile>output1.h</OutputFile>
            </KeywordGroup>
            <KeywordGroup>
              <Keywords>
                <Keyword>keyword2</Keyword>
              </Keywords>
              <OutputFile>output1.csv</OutputFile>
            </KeywordGroup>
          </KeywordGroups>
        </Mode>
        <Mode name="deep_pass">
          <KeywordGroups>
            <KeywordGroup>
              <Keywords>
                <Keyword>keyword3</Keyword>
              </Keywords>
              <OutputFile>output2.h</OutputFile>
            </KeywordGroup>
          </KeywordGroups>
        </Mode>
      </Modes>
    </Item>
  </Items>
  <Settings>
    <Theme>Dark</Theme>
    <Font>Tahoma</Font>
    <FontSize>18</FontSize>
  </Settings>
  <ComputerConfigs>
    <ComputerConfig name="cog">
      <SerialConsoleConfigs>
        <SerialConsoleConfig name="COM2">
          <Title>Darth Vader</Title>
          <ColorScheme>SolarizedDark</ColorScheme>
          <FontSize>8</FontSize>
        </SerialConsoleConfig>
        <SerialConsoleConfig name="COM3">
          <Title>Luke Skywalker</Title>
          <ColorScheme>LightMode</ColorScheme>
          <FontSize>14</FontSize>
        </SerialConsoleConfig>
      </SerialConsoleConfigs>
    </ComputerConfig>
  </ComputerConfigs>
  <RecentActivity>
    <Activity>
      <Type>TFTPServer</Type>
      <FilesAnalyzed xsi:nil="true" />
      <FilesTransferred>2</FilesTransferred>
      <IPAddress>0.0.0.0</IPAddress>
      <DateTime>2024-10-21T12:45:00</DateTime>
    </Activity>
    <Activity>
      <Type>SerialLogging</Type>
      <SerialPort>COM1</SerialPort>
      <FilesAnalyzed xsi:nil="true" />
      <FilesTransferred xsi:nil="true" />
      <DateTime>2024-10-21T14:45:40</DateTime>
    </Activity>
    <Activity>
      <Type>SerialAnalyzing</Type>
      <FilesAnalyzed>3</FilesAnalyzed>
      <FilesTransferred xsi:nil="true" />
      <DateTime>2024-10-21T14:45:00</DateTime>
    </Activity>
    <Activity>
      <Type>Serial Logger</Type>
      <SerialPort>COM3</SerialPort>
      <FilesAnalyzed xsi:nil="true" />
      <FilesTransferred xsi:nil="true" />
      <DateTime>2024-10-22T00:05:00</DateTime>
    </Activity>
    <Activity>
      <Type>Serial Logger</Type>
      <SerialPort>COM3</SerialPort>
      <FilesAnalyzed xsi:nil="true" />
      <FilesTransferred xsi:nil="true" />
      <DateTime>2024-10-22T00:19:26.5457714-05:00</DateTime>
    </Activity>
  </RecentActivity>
</Configuration>